# Distribution directory
dit/*.map
**/**/.idea
.idea
src/.idea
# Dependency directories
node_modules
rev-css
rev-js
html
src
# Optional npm cache directory
.npm

# OS temps
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Optional REPL history
.node_repl_history
